{{ include("header.php")}}
    <div class="jumbotron">
        <div id="welcome_wrapper">
            <h1 class="display-6">Dziękujemy za wysłanie wiadomości!</h1>
            <a href="/contactForm/">Wyślij kolejną wiadomość</a>
        </div>
    </div>
{{ include("footer.php")}}